@use '../../../styles/mixins.scss' as m;
@import '../../../styles/variables.scss';

.footer {
  @include m.flex(row, flex-start);
  align-items: center;
  height: $navbarHeight;
  width: 100vw;
  border-top: $line;
  padding-left: 40px;
}