@use '../../../styles/mixins.scss' as m;
@import '../../../styles/variables.scss';

.navbar {
    @include m.flex(row, flex-start);
    align-items: center;
    height: $navbarHeight;
    width: 100%;
    border-bottom: $line;
    padding: 0;

    .navItem1 {
        @include m.flex(row, flex-start);
        align-items: center;
        width: 35%;
        height: 100%;
        border-right: $line;
        padding-left: 40px;
    }

    .navItem2 {
        @include m.flex(row, flex-start);
        align-items: center;
        width: 65%;
        padding-left: 20px;
        gap: 20px;
    }
}

.tooltip {
    position:relative; 

    :before {
        content: 'Logout?'; 
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        left:100%;
        padding:20px;
        text-align:center;
        color: $primaryColor;
        display:none; 
      }
      :hover:before {
        display:block;
      }
  }