@use '../../styles/mixins.scss' as m;
@import '../../styles/variables.scss';

.smallTab {
    @include m.flex(row, center);
    align-items: center;
    height: 40px;
    border-bottom: $line;
    a {
        text-decoration: none;
    }
}