@use '../../styles/mixins.scss' as m;
@import '../../styles/variables.scss';

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input,
    button {
        background-color: transparent;
      width: 100%;
      border: none;
      padding: 10px 10px;
      box-sizing: border-box;
    
    }

    input {
      border: none;
      margin: 5px 0 10px;
      font-size: 1rem;
      color: $primaryColor;  
      border-bottom: $line;
    }
}